* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b7410e;
  width: 100%;
}
.nav-container {
  height: 50vh;
  background-color: white;
  padding: 15px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 2px 1px 4px gray;
  width: 100%;
}
.img-icon {
  text-align: center;
}
.img-icon img {
  width: 60%;
  height: 350px;
  text-align: center;
  margin-top: 10px;
}
.hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #b7410e;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: #1b1c1e;
}
.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 20px auto;
}
.nav-container ul li {
  text-align: center;
  list-style: none;
  flex: 1;
}
.nav-container ul li a {
  text-decoration: none;
  color: #b7410e;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
main {
  padding: 550px 200px 0;
}

main h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 2rem;
  margin: 0 0 50px 0;
}
.countDown-container {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}
.countDown-semiContainer {
  border-radius: 5px;
  background-color: white;
  flex: 1;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.countDown-semiContainer p {
  font-size: 3rem;
}
.countDown-semiContainer span {
  font-size: 2rem;
  text-transform: uppercase;
}
.countDown-semiContainer p,
.countDown-semiContainer span {
  color: #b7410e;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 400px) {
  .hamburger {
    display: block;
  }
  .nav-container ul li a {
    color: white;
  }
  .img-icon {
    margin: 0;
  }
  .nav-container {
    padding: 0;
    margin: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .img-icon img {
    width: 100%;
    height: 280px;
    margin-top: 50px;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: -20px;
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    height: 100vh;
    background-color: #b7410e;
  }
  .nav-item {
    margin: 40px 0px;
    width: 100%;
    border-bottom: 1px solid white;
  }
  .nav-menu.active {
    left: 0px;
  }
  .nav-link:hover {
    color: var(--animation-color);
  }
  main {
    padding: 400px 0 0 0;
    width: 100%;
    margin: 0 auto;
  }
  main h2 {
    font-size: 1.5rem;
    margin-left: 20px;
  }
  .countDown-container {
    gap: 5px;
    margin: 0 auto;
  }
  .countDown-semiContainer {
    width: 100%;
    border-radius: 5px;
  }
  .countDown-semiContainer p {
    font-size: 2rem;
  }
  .countDown-semiContainer span {
    font-size: 1rem;
  }
}
